.selectable-element-container {
  display: flex;
  height: 100%;
}

.selectable-element {
  display: flex;
  flex: 1;
  background-color: green;
  align-items: center;
  justify-content: center;
  height: 100%;
}




