<div
  class="selectable-element-container"
  (click)="toggle()"
  [ngStyle]="{
    border: showBorder ? '5px solid green' : '',
    background: color ? color : 'grey'
  }"
  (mouseenter)="toggleShowBorder()"
  (mouseleave)="toggleShowBorder()"
>
  <p>
    {{ employee ? employee.name : "" }}
    {{ workAndRestTime ? "TW: " + workAndRestTime!.totalWorkingTimeInMinutes : "" }}
    {{ workAndRestTime ? "LW: " + workAndRestTime!.lastWorkTimeInMinutes  : "" }}
    {{ workAndRestTime ? "TR: " + workAndRestTime!.totalRestTimeInMinutes : "" }}
    {{ workAndRestTime ? "LR: " + workAndRestTime!.lastRestTimeInMinutes : '' }}
    {{ workAndRestTime ? "CW: " + workAndRestTime!.currentWorkTimeInMinutes : '' }}
    {{ workAndRestTime ? "NW: " + workAndRestTime!.nextWorkTimeInMinutes : '' }}
  </p>

  <!-- <div
    style="height: 50px; width: 100px; background-color: blue"
    (click)="test()"
  ></div> -->
  <mat-select
    class="selector"
    *ngIf="showSelector"
    (closed)="toggleSelection()"
  >
    <mat-option
      (onSelectionChange)="onSelection($event)"
      *ngFor="let employee of employeesToSelectFrom"
      [value]="employee"
      style="cursor: pointer"
    >
      {{ employee.name }}
    </mat-option>
  </mat-select>
</div>
