<div class="tablesContainer">
  <div class="timeTable">
    <table mat-table [dataSource]="timeTableDataSource">
      <!--
        
      matColumnDef="Time" 
      here "Time" must be the same
      as it defined in
      columns: timeColumn
      
      timeColumn = ['Time']

      -->
      <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let row">{{ row.time }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="timeColumn"></tr>
      <tr mat-row *matRowDef="let row; columns: timeColumn"></tr>
    </table>
  </div>
  <div class="employeesTable">
    <table mat-table [dataSource]="employeesTableDataSource">
      <ng-container
        *ngFor="let sectorName of sectorNames; index as i"
        matColumnDef="{{ sectorName }}"
      >
        <th mat-header-cell *matHeaderCellDef>{{ sectorName }}</th>
        <td mat-cell *matCellDef="let row; index as j">
          <app-selectable-table-element
          [rowNumber]="j"
          [columnNumber]="i"
        ></app-selectable-table-element>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="employeesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: employeesColumns"></tr>
    </table>
  </div>
</div>

<!-- <div class="table-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef="let row">Time</th>
      <td mat-cell *matCellDef="let row">{{ row.Time }}</td>
    </ng-container>

    <ng-container
      *ngFor="let sectorName of sectorNames; index as i"
      matColumnDef="{{ sectorName }}"
    >
      <th mat-header-cell *matHeaderCellDef>{{ sectorName }}</th>
      <td mat-cell *matCellDef="let row; index as j">
        <p>Works</p>
        <app-selectable-table-element
          [rowNumber]="j"
          [columnNumber]="i"
        ></app-selectable-table-element>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div> -->
