<table mat-table [dataSource]="table" class="mat-elevation-z8">
  <ng-container matColumnDef="{{ employee.name }}">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="fifty-column"
      [ngStyle]="{
        background: color,
      }"
    >
      <div class="name-container">
        {{ employee.name }}
      </div>
    </th>
    <td mat-cell *matCellDef="let element" class="fifty-column">
      {{ element.timeIntervalAsDate[0] | date : "HH:mm" }} -
      {{ element.timeIntervalAsDate[1] | date : "HH:mm" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="{{ displayedColumns[1] }}">
    <th mat-header-cell *matHeaderCellDef class="fifty-column">
      {{ displayedColumns[1] }}
    </th>
    <td
      mat-cell
      *matCellDef="let smallTableRow"
      class="fifty-column"
      (mouseenter)="toggleIfButtonActive()"
      (mouseleave)="toggleIfButtonActive()"
    >
      <div *ngIf="ifButtonActive; then showButton; else showSectorName"></div>
      <ng-template #showButton>
        <button
          type="button"
          (click)="
            deleteWorkSession(
              smallTableRow.timeStartRowNumber,
              smallTableRow.timeEndRowNumber,
              smallTableRow.sector
            )
          "
        >
          Delete
        </button>
      </ng-template>
      <ng-template #showSectorName>
        {{ smallTableRow.sector }}
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div *ngIf="ifShowStartTimeSelector">
  <mat-select (mousedown)="getAvailableStartTimeIntervals()">
    <mat-option *ngFor="let startTimeInterval of availableStartTimeIntervals">
      {{ startTimeInterval[0] | date : "HH:mm" }} -
      {{ startTimeInterval[1] | date : "HH:mm" }}
    </mat-option>
  </mat-select>
</div>
<div
  [ngStyle]="{
    background: 'green'
  }"
>
  <button
    type="button"
    (click)="showStartTimeSelector()"
    *ngIf="!ifShowStartTimeSelector"
  >
    Add
  </button>
  <button
    type="button"
    *ngIf="ifShowStartTimeSelector"
    (click)="cancelTimeSelection()"
  >
    Cancel
  </button>
</div>

<div
  [ngStyle]="{
    background: 'white'
  }"
>
  Total work: {{ totalWorkTime }}
</div>
