<table mat-table [dataSource]="table" class="mat-elevation-z8">
  <ng-container matColumnDef="{{ employee.name }}">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="fifty-column"
      [ngStyle]="{
        background: color,
      }"
    >
      <div class="name-container">
        {{ employee.name }}
      </div>
    </th>
    <td mat-cell *matCellDef="let element" class="fifty-column">
      {{ element.timeIntervalAsDate[0] | date : "HH:mm" }} -
      {{ element.timeIntervalAsDate[1] | date : "HH:mm" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="{{ displayedColumns[1] }}">
    <th mat-header-cell *matHeaderCellDef class="fifty-column">
      {{ displayedColumns[1] }}
    </th>
    <td mat-cell *matCellDef="let element" class="fifty-column">{{ element.sector }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div
  [ngStyle]="{
    background: 'white'
  }"
>
  Total work: {{ totalWorkTime }}
</div>
