//Make row flex to calculate sizes of cells correctly!
tr {
  display: flex;
  max-height: 2em;
}

//Time column
.timeColumnHeader,
.timeColumnCells {
  display: flex;
  width: 20%;
  padding: 0;
  justify-content: center;
  align-items: center;
}

//For all other columns
.sectorColumn {
  display: flex;
  flex: 1;
  padding: 1px;
  justify-content: center;
  align-items: center;
}

//For the selectable-table-element component
.selectable-table-element {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
