<div class="planning-workspace">
  <div class="main-table-container">
    <app-main-table style="width: 100%; display: flex"></app-main-table>
  </div>
  <!-- <div class="tables-for-each-employee-container">
    <app-employee-info-table></app-employee-info-table>
    <app-employee-info-table></app-employee-info-table>
    <app-employee-info-table></app-employee-info-table>
    <app-employee-info-table></app-employee-info-table>
    <app-employee-info-table></app-employee-info-table>
    <app-employee-info-table></app-employee-info-table>
  </div> -->
</div>
