.planning-workspace {
  display: flex;
}

.tables-for-each-employee-container {
  padding-left: 10px;
  display: flex;
  position: fixed;
  align-self: start;
  width: 40%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 10px;
  gap: 10px;
}

.left-box {
  width: 60%;
}

.right-box {
  width: 40%;
  position: sticky;
  align-self: flex-start;
}
