.planning-workspace {
  display: flex;
}

.main-table-container {
  display: flex;
  width: 100%;
}

.tables-for-each-employee-container {
  padding-left: 10px;
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 10px;
  gap: 10px;
}
